services:
  cassandra:
    networks:
      - service-network
    image: cassandra:5.0.2@sha256:5d4795c41491654e2bda432179e020c7c2cd702bbb22b7d1314747658efd71b4
    container_name: cassandra
    ports:
      - 9042:9042
    healthcheck:
      test: [ "CMD", "cqlsh", "-e", "describe keyspaces" ]
      interval: 5s
      timeout: 5s
      retries: 60

  cassandra-init:
    networks:
      - service-network
    image: cassandra:latest@sha256:5d4795c41491654e2bda432179e020c7c2cd702bbb22b7d1314747658efd71b4
    depends_on:
      cassandra:
        condition: service_healthy
    environment:
      - CQLSH_HOST=cassandra
      - CASSANDRA_HOST=cassandra
    volumes:
      - ./scripts/restore_cassandra.sh:/tmp/restore_cassandra.sh
      - ./common/src/test/resources/db/cassandra_data:/tmp/backup
    entrypoint: [ "/bin/sh", "-c" ]
    command: >
      "chmod +x /tmp/restore_cassandra.sh && /tmp/restore_cassandra.sh"
    healthcheck:
      test: [ "CMD-SHELL", "[ -f /tmp/.init-completed ]" ]
      interval: 2s
      timeout: 5s
      retries: 30
      start_period: 5s

  test-runner:
    image: busybox@sha256:db142d433cdde11f10ae479dbf92f3b13d693fd1c91053da9979728cceb1dc68
    depends_on:
      cassandra:
        condition: service_healthy
      cassandra-init:
        condition: service_completed_successfully

  rabbitmq-broker:
    networks:
      - service-network
    image: rabbitmq:4.0.4-management
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: admin
    ports:
      - "5672:5672"
      - "8080:15672"

networks:
  service-network:
    driver: bridge