services:
  cassandra:
    networks:
      - service-network
    image: cassandra:5.0.3@sha256:04cea6fbb0366bd6d0fc6c2beab581499d313a000e530b34fa89439ad72d55ff
    container_name: cassandra
    ports:
      - 9042:9042
    healthcheck:
      test: [ "CMD", "cqlsh", "-e", "describe keyspaces" ]
      interval: 5s
      timeout: 5s
      retries: 60

  cassandra-init:
    networks:
      - service-network
    image: cassandra:latest@sha256:1905e8acf5e6ca93204b28cb16a64e96cbb22621a9be13c86ddfc6d59bdbd735
    depends_on:
      cassandra:
        condition: service_healthy
    environment:
      - CQLSH_HOST=cassandra
      - CASSANDRA_HOST=cassandra
    volumes:
      - ./scripts/restore_cassandra.sh:/tmp/restore_cassandra.sh
      - ./common/src/test/resources/db/cassandra_data:/tmp/backup
    entrypoint: [ "/bin/sh", "-c" ]
    command: >
      "chmod +x /tmp/restore_cassandra.sh && /tmp/restore_cassandra.sh"
    healthcheck:
      test: [ "CMD-SHELL", "[ -f /tmp/.init-completed ]" ]
      interval: 2s
      timeout: 5s
      retries: 30
      start_period: 5s

  test-runner:
    image: busybox@sha256:a5d0ce49aa801d475da48f8cb163c354ab95cab073cd3c138bd458fc8257fbf1
    depends_on:
      cassandra:
        condition: service_healthy
      cassandra-init:
        condition: service_completed_successfully

  rabbitmq-broker:
    networks:
      - service-network
    image: rabbitmq:4.0.5-management@sha256:f8e04e189caa9229fc52219a413a59bbb2130fac2dcda375c0649ef7f7d8309e
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: admin
    ports:
      - "5672:5672"
      - "8080:15672"

networks:
  service-network:
    driver: bridge