services:
  cassandra:
    networks:
      - service-network
    image: cassandra:5.0.3@sha256:70b40a2025d450f7865c5ec6f1ebea13108166f81fe41462069690cb4d9690f2
    container_name: cassandra
    ports:
      - 9042:9042
    healthcheck:
      test: [ "CMD", "cqlsh", "-e", "describe keyspaces" ]
      interval: 5s
      timeout: 5s
      retries: 60

  cassandra-init:
    networks:
      - service-network
    image: cassandra:latest@sha256:70b40a2025d450f7865c5ec6f1ebea13108166f81fe41462069690cb4d9690f2
    depends_on:
      cassandra:
        condition: service_healthy
    environment:
      - CQLSH_HOST=cassandra
      - CASSANDRA_HOST=cassandra
    volumes:
      - ./scripts/restore_cassandra.sh:/tmp/restore_cassandra.sh
      - ./common/src/test/resources/db/cassandra_data:/tmp/backup
    entrypoint: [ "/bin/sh", "-c" ]
    command: >
      "chmod +x /tmp/restore_cassandra.sh && /tmp/restore_cassandra.sh"
    healthcheck:
      test: [ "CMD-SHELL", "[ -f /tmp/.init-completed ]" ]
      interval: 2s
      timeout: 5s
      retries: 30
      start_period: 5s

  test-runner:
    image: busybox@sha256:37f7b378a29ceb4c551b1b5582e27747b855bbfaa73fa11914fe0df028dc581f
    depends_on:
      cassandra:
        condition: service_healthy
      cassandra-init:
        condition: service_completed_successfully

  rabbitmq-broker:
    networks:
      - service-network
    image: rabbitmq:4.0.8-management@sha256:12064be16fad27e45951bbd6eddde571952517166c0ac68d95a01dd5949c5a71
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: admin
    ports:
      - "5672:5672"
      - "8080:15672"

networks:
  service-network:
    driver: bridge